@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{

    background-color:aliceblue;
    /* background-color: red; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.modal{

    display: none;
    width: 600px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 50px;
    margin: 0 10px;

}
.modal p{
    font-size: 14px;
    margin: 10px;
}

button{

    border:none;
    border-radius: 8px;
    outline: none;
    
    padding: 10px 25px;
    margin: 1em;
    background-color: dodgerblue;
    color: #FAF8FF;

    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all .3s ease-in-out;

}
button:hover{
    background-color: #FAF8FF;
    border: 2px solid dodgerblue;
    color: #262626;
    outline: none;
    /* color: white; */
}